body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 100px; 
}

.container {
    display: flex;
    align-items: center;
    margin-top: 80px; 
    justify-content: center; 
}

.info {
    max-width: 300px; 
    margin-right: 1000px; 
    text-align: left; 
}

.carousel {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: auto;
    height: auto;
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.info h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

.info p {
    font-size: 16px;
    margin: 0 0 10px;
}

.learn-more {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.learn-more:hover {
    background-color: #0056b3;
}